.card {
   width: 150px; height: 100px;
   display: flex; align-items: center; justify-content: center;
   background: rgb(217, 52, 52);

   border-radius: 8px;
   opacity: 0.85;  /*투명도 85%*/
   box-shadow: 0 6px 18px rgb(189, 219, 23, 0.25); /*아래로 그림자 */
   transition: all 0.3s ease; /*바뀔 때 0.3초 스르륵 */
   color: white;
   font-size: 20px;
}

/* 마우스 올리면 => 떠오르고 또렷해지고 그림자 커짐*/
.card:hover {
   opacity: 1;
   transform: translateY(-8px); /*위로 8px 떠오름*/
   box-shadow: 0 8px 32px green; /*그림자 진하게*/
}