:root {
  --main: #cf95b2;   
  --ink: #1f2430;    
  --gap: 12px;       
}


body {
  background-color: wheat; 
  font-family: sans-serif;
}

ol {
  background-color: rgb(238, 244, 163);
  padding: 30px;          
  border: 2px solid navy; 
  border-radius: 16px;
  margin: 20px;          
}

ol:hover {
  opacity: 1;                                  
  transform: translateY(-8px);                
  box-shadow: 0 16px 32px rgba(255,105,180,0.5);  
}

.box {
  width: 100%;
  height: 10px;
  background-color: rgb(142, 235, 188);
  border-radius: 16px;
  transition: all 0.3s ease;

}
@keyframes float {                         
  0%, 100% { transform: translateY(0); }     
  50%      { transform: translateY(-30px); }  
}
.ball1 {
  width: 40px; height: 40px;
  border-radius: 50%; background: hotpink;   
  animation: float 1.5s ease-in-out infinite;
}
.ball2 {
  width: 40px; height: 40px;
  border-radius: 50%; background: lightgreen;   
  animation: float 1.5s ease-in-out infinite; 
}
.ball3 {
  width: 40px; height: 40px;
  border-radius: 50%; background: coral;   
  animation: float 1.5s ease-in-out infinite; 
}
